<p>Create your own account!</p>

<div>
    <input #username placeholder="Username" id="username1"> <br>
    <input #email placeholder="Email Address" id="email1" /> <br>
    <input #password placeholder="Password" id="password1" /> <br> 
    <button (click) = "signup(username.value, email.value, password.value)">Sign Up</button>
</div>

<div *ngIf="need_verified">
    <a href="./verify.html" onclick="isVerified()"></a>  
</div>

<div *ngIf="is_verified">
    Verified!
</div>

<div *ngIf="messages.length">
    <div *ngFor='let message of messages'> {{message}} </div>
</div>
