<p>Create your own account!</p>

<div>
    <input #username placeholder="Username" id="username1"> <br>
    <input #email placeholder="Email Address" id="email1" /> <br>
    <input #password placeholder="Password" id="password1" /> <br> 
    <button (click) = "signup(username.value, email.value, password.value)">Sign Up</button>
</div>


<div *ngIf="messages.length">
    <div *ngFor='let message of messages'> {{message}} </div>
</div>


<div *ngIf="need_verified">
    please enter email address here to verity your email: <input #email_verify placeholder="Email address" id="username2"> <br>
    <button (click) = "isVerified(email_verify.value)">Submit</button>  
</div>

