<div class = "righttop">
    <p>Currently login as: {{ currently_login_as.username_attribute }}</p>
    <p>Authentication: {{ currently_login_as.auth_attribute }}</p>
    <p>Activation: {{ currently_login_as.activation_attribute }}</p>
    <p>admin: {{ currently_login_as.admin_attribute }}</p>

    <div *ngIf = "!(currently_login_as.auth_attribute)">
        please enter email address here to verity your email: <input #email_verify placeholder="Email address" id="username2"> <br>
        <button (click) = "signUpVerification.isVerified(email_verify.value)">Submit</button>  
    </div>

    <p>Course created: {{ currently_login_as.course_created }}</p>
</div>

<div *ngIf = "currently_login_as.admin_attribute">

    Grant other user as an admin: <input #email_grant_admin placeholder="email here"/>
    <button (click) = "grant_user_admin(email_grant_admin.value)">Grant</button><br>

    Mark other user as deactivated: <input #email_mark_deactivate placeholder="email here"/>
    <button (click) = "mark_user_deactivated(email_mark_deactivate.value)">Mark</button><br>

</div>

<div>
    <h1 class = "center">Western online timetable search page</h1>
    <br/>
    <br/>
    <br/>
    Get the time entry <input #subject_code placeholder="subject code here"/><br>
    <div class = "mleft">
                      <input #course_code placeholder="course code here" name="" id="bar_three" /><br>
                      <input #component placeholder="an optional course component here" id="bar_four" /><br>
                      <button (click) = "get_Course(subject_code.value, course_code.value)">submit</button><br>
    </div>
    
    Display the time table for all the courses for a given course list <input #schedule3 placeholder="please enter a schedule name here" id="bar_eight" /> <button (click) = "get_Schedule(schedule3.value)">submit</button><br>
    <br>

    <div *ngIf = "public_course_lst.length">
        <div *ngFor='let course_list of public_course_lst'> {{ "course list with name " + course_list.schedule_name_attribute + " has " + course_list.course_list_attribute + " with length " + course_list.course_list_attribute.length.toString() + ", which was created by " + course_list.created_by + " with description: " + course_list.schedule_description}} 
                                                            <button (click) = "show_detail(course_list.course_list_attribute)">Detail</button>
        </div>
    </div>

<!-- -------------------------------------------AUTH and ACTIVATED USER FUNCTIONALITIES------------------------------------------------------------------------------------ -->
    <div *ngIf="currently_login_as.auth_attribute">
        <!-- -------------ADD REVIEW------------- -->
        <div>
        <br>
        <br>
        Write Review to a course <input #subject_code_review placeholder="subject code here"/><br>
                                <input #course_code_reviws placeholder="course code here"/><br>
                                <input #review_content placeholder="review here"/>
                                <button (click) = "auth_write_review(subject_code_review.value, course_code_reviws.value, review_content.value)">Add Review</button>
        </div>
        <!-- -------------ADD REVIEW------------- -->


        <!-- -------------CREATE SCHEDULE and ADD COURSE CODE PAIRS INTO SCHEDULE----------------- -->
        <div>
            <br>
            <br>
            Create a schedule <input #schedule1 placeholder="Enter the schedule name here"/><br>
                              <input #access_schedule placeholder="Enter private or public here"/><br>
                              <input #schedule_description placeholder="description here"/><button (click) = "add(schedule1.value, access_schedule.value, schedule_description.value)">create</button><br>
            Save a list of subject code, course code pairs under a given schedule name <input #schedule2 placeholder="please enter a schedule name here" id="bar_six"/><br>
            <div class = "save_mleft">
                                                                                      <input #coursesString placeholder="subject & course code pairs here, divide by comma" id="bar_seven" /><button (click) = "save(schedule2.value, coursesString.value)">save</button><br>
            </div>
        </div>
        <!-- -------------CREATE SCHEDULE and ADD COURSE CODE PAIRS INTO SCHEDULE----------------- -->


        <!-- --------------DELETE SCHEDULE--------------- -->
        <div>
            <br>
            <br>
            Delete a course list <input #delete_name placeholder="enter schedule name here"/><button (click) = "auth_delete_course_list(delete_name.value)">Delete</button>
        </div>

        <div>
            Show your created course lists: <button (click) = "show_current_user_schedule(currently_login_as.username_attribute)">Show</button>
        </div>
        <!-- --------------DELETE SCHEDULE--------------- -->
        <br>
        <br>
        <br>
        <div *ngIf = "logged_in_course_lst.length != 0">
            created schedules: 
            <div *ngFor='let log_schedule of logged_in_course_lst'>{{ log_schedule.schedule_name_attribute + "has courses: " + log_schedule.course_list_attribute.toString() + " with accessibility of " + log_schedule.access_for }}
                <button (click) = "show_detail(log_schedule.course_list_attribute)">Detail</button>
            </div>
        </div>

    </div>
<!-- -------------------------------------------AUTH and ACTIVATED USER FUNCTIONALITIES------------------------------------------------------------------------------------ -->

    <div>
        <br>
        <br>
        Result(s)
        <div *ngIf="messages_functionality.length">
            <div *ngFor='let message of messages_functionality'> {{ message }} </div>
        </div>
    </div>
</div>
